<div class="col s12 m3">
  <div class="collection">
    <%= link_to root_path, class: 'collection-item' do %>
        <img src="http://placehold.it/300x300" class="responsive-img">
    <% end %>
    <a href="/" class="collection-item">
      <i class="left fa fa-users"></i>Контакты</a>
    <a href="/" class="collection-item">
      <i class="left fa fa-info"></i>Уведомленя</a>
    <a href="/" class="collection-item">
      <i class="left fa fa-cog"></i>Настройки</a>
    <a href="/" class="collection-item">
      <i class="left fa fa-sign-out"></i>Выход</a>
  </div>
</div>