<div class="section light-blue" style="min-height: 240px"></div>

<div class="container" style="margin-top: -150px">
  <div class="row">
    <%= render('dashboard/menu') %>
    <div class="col s12 m9">
      <div class="card-panel">
        <div class="row" style="margin-bottom: 0">
          <div class="col s12 m6">
            <div class="card-panel green">
              <div class="row" style="margin-bottom: 0">
                <div class="col s8 white-text"><h5><i class="left fa fa-users"></i>Контактов</h5></div>
                <div class="col s4 white-text center"><h5><%= current_user.contacts.count %></h5></div>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card-panel deep-orange">
              <div class="row" style="margin-bottom: 0">
                <div class="col s8 white-text"><h5><i class="left fa fa-info"></i>Уведомлений</h5></div>
                <div class="col s4 white-text center"><h5><%= current_user.notifications.count %></h5></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>