@import "materialize/components/color";
$primary-color: color("orange", "base") !default;
$secondary-color: color("light-blue", "base") !default;
@import "materialize";
@import "materialize/extras/nouislider";
@import "font-awesome-sprockets";
@import "font-awesome";

@import 'https://fonts.googleapis.com/css?family=Anton';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.divider {
  min-height: 1px;
  color: lightgrey;
  margin: 1rem 0;
}

#index-banner {
  background: url(image_path('loyalty.png')) no-repeat 100%;
}

.brand-logo {
  font-family: 'Anton', sans-serif;
}