@import "materialize/components/color";
$primary-color: color("orange", "base") !default;
$secondary-color: color("light-blue", "base") !default;
@import "materialize";
@import "materialize/extras/nouislider";
@import "font-awesome-sprockets";
@import "font-awesome";

@import 'https://fonts.googleapis.com/css?family=Anton';

@import 'pages';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #ebeff1;
}

main {
  flex: 1 0 auto;
}

.divider {
  min-height: 1px;
  color: lightgrey;
  margin: 1rem 0;
}

#index-banner {
  background: url(image_path('loyalty.png')) no-repeat 100%;
}

.brand-logo {
  font-family: 'Anton', sans-serif;
}



.collapsible-header {
  line-height: inherit;
  padding: 10px;
}
.collapsible-body {
  background: white;
  padding: 10px;
}

