<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque esse labore officiis quis similique? Consequatur culpa facere harum ipsa magnam, molestias non numquam quaerat quas vero! Corporis explicabo laborum provident.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <%= content_tag(:li, link_to('About', static_about_path, class: 'white-text')) %>
          <%= content_tag(:li, link_to('Contact', static_contact_path, class: 'white-text')) %>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/g1nc">g1nc</a>
    </div>
  </div>
</footer>